body{
  background-color:#69451b;
  background-color:#b39556;
  background-color:#ec5328;
  background-color:#a3e8f9;
  background-color:#d5fb6c;

}


input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type=submit] {
  width: 100%;
  background-color: #ec5328;
  color: whitesmoke;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#clear-chat {
  width: 15%;
}

button[type=submit]:hover {
  background-color: #d5fb6c;
  font-size: larger;
  color: #69451b;
}

div {
  border-radius: 5px;
  background-color: #a3e8f9;
  padding: 20px;
  width: 50%;
  margin: 0 auto;
}



